{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "insertPragma": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "arrowParens": "always"
}
